---
const pageTitle = "About Me";

const identity = {
    firstName: "Johnny",
    country: "Iraq",
    occupation: "Tea Master",
    hobbies: ["bodybuilding", "birdwatching", "desert surfing"]
};

const skills = ["Procrastination","Over analysis", "Mid at everything"]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<body>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>
            <h1>{pageTitle}</h1>
                <p>Here are some deets</p>
                    <ul>
                        <li>I live in {identity.country} and I work a a {identity.occupation}</li>
                        {identity.hobbies.length >= 2 &&
                            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
                        }
                    </ul>
                <p>Check out these skillz</p>
                    <ul>
                        {skills.map((skill) => <li>{skill}</li>)}
                    </ul>
          </body>
	</body>
</html>
